.image {
    background-size: 120% !important;
    transform-origin: center;
    -webkit-transition: background-size 1000ms linear;
    -moz-transition: background-size 1000 linear;
    -o-transition: background-size 1000 linear;
    -ms-transition: background-size 1000ms linear;
    transition: background-size 1000ms linear;
}

/* .image::before{
  background-size: cover !important;
} */

/* .image::before{
  content: "";
  background-position: center center;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1682695797873-aa4cb6edd613?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  z-index: -1; 
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;
  
}


.image:hover::before {
  transform: scale(1.4);
} */
.image:hover {
    background-size: 140% !important;
}
