.trailerButton:hover {
box-shadow: -webkit-box-shadow: 5px 0px 4px 0px rgba(194,190,194,0.84);
-moz-box-shadow : 5px 0px 4px 0px rgba(194,190,194,0.84);
box-shadow : 5px 0px 4px 0px rgba(194,190,194,0.84);
}