@media (min-width: 510px) {
    #t18_1294_813 {
        display: none !important;
    }
}

@media (max-width: 0px) {
    #t18_1294_813 {
        display: none !important;
    }
}
@media (min-width: 760px) {
    #t18_1294_680 {
        display: none !important;
    }
}

@media (max-width: 510px) {
    #t18_1294_680 {
        display: none !important;
    }
}
@media (min-width: 1170px) {
    #t18_1294_552 {
        display: none !important;
    }
}

@media (max-width: 760px) {
    #t18_1294_552 {
        display: none !important;
    }
}
@media (min-width: 100000px) {
    #t18_1195_1538 {
        display: none !important;
    }
}

@media (max-width: 1170px) {
    #t18_1195_1538 {
        display: none !important;
    }
}
