@media (min-width: 510px) {
    #t18_1282_1980 {
        display: none !important;
    }
}

@media (max-width: 0px) {
    #t18_1282_1980 {
        display: none !important;
    }
}
@media (min-width: 760px) {
    #t18_1282_1918 {
        display: none !important;
    }
}

@media (max-width: 510px) {
    #t18_1282_1918 {
        display: none !important;
    }
}
@media (min-width: 1170px) {
    #t18_1282_1855 {
        display: none !important;
    }
}

@media (max-width: 760px) {
    #t18_1282_1855 {
        display: none !important;
    }
}
@media (min-width: 100000px) {
    #t18_1282_1776 {
        display: none !important;
    }
}

@media (max-width: 1170px) {
    #t18_1282_1776 {
        display: none !important;
    }
}
