@media (min-width: 510px) {
    #t18_1216_218 {
        display: none !important;
    }
}

@media (max-width: 0px) {
    #t18_1216_218 {
        display: none !important;
    }
}
@media (min-width: 760px) {
    #t18_1216_217 {
        display: none !important;
    }
}

@media (max-width: 510px) {
    #t18_1216_217 {
        display: none !important;
    }
}
@media (min-width: 1170px) {
    #t18_1216_216 {
        display: none !important;
    }
}

@media (max-width: 760px) {
    #t18_1216_216 {
        display: none !important;
    }
}
@media (min-width: 100000px) {
    #t18_1193_1067 {
        display: none !important;
    }
}

@media (max-width: 1170px) {
    #t18_1193_1067 {
        display: none !important;
    }
}
