@media (min-width: 510px) {
    #t18_1245_1796 {
        display: none !important;
    }
}

@media (max-width: 0px) {
    #t18_1245_1796 {
        display: none !important;
    }
}
@media (min-width: 760px) {
    #t18_1240_1791 {
        display: none !important;
    }
}

@media (max-width: 510px) {
    #t18_1240_1791 {
        display: none !important;
    }
}
@media (min-width: 1170px) {
    #t18_1232_1717 {
        display: none !important;
    }
}

@media (max-width: 760px) {
    #t18_1232_1717 {
        display: none !important;
    }
}
@media (min-width: 100000px) {
    #t18_1163_836 {
        display: none !important;
    }
}

@media (max-width: 1170px) {
    #t18_1163_836 {
        display: none !important;
    }
}
