@media (min-width: 510px) {
    #t18_808_4958 {
        display: none !important;
    }
}

@media (max-width: 0px) {
    #t18_808_4958 {
        display: none !important;
    }
}
@media (min-width: 760px) {
    #t18_808_4957 {
        display: none !important;
    }
}

@media (max-width: 510px) {
    #t18_808_4957 {
        display: none !important;
    }
}
@media (min-width: 1170px) {
    #t18_808_4956 {
        display: none !important;
    }
}

@media (max-width: 760px) {
    #t18_808_4956 {
        display: none !important;
    }
}
@media (min-width: 100000px) {
    #t18_808_4955 {
        display: none !important;
    }
}

@media (max-width: 1170px) {
    #t18_808_4955 {
        display: none !important;
    }
}
