@media (min-width: 510px) {
    #t18_799_4948 {
        display: none !important;
    }
}

@media (max-width: 0px) {
    #t18_799_4948 {
        display: none !important;
    }
}
@media (min-width: 760px) {
    #t18_799_4947 {
        display: none !important;
    }
}

@media (max-width: 510px) {
    #t18_799_4947 {
        display: none !important;
    }
}
@media (min-width: 1170px) {
    #t18_398_3048 {
        display: none !important;
    }
}

@media (max-width: 760px) {
    #t18_398_3048 {
        display: none !important;
    }
}
@media (min-width: 100000px) {
    #t18_203_1543 {
        display: none !important;
    }
}

@media (max-width: 1170px) {
    #t18_203_1543 {
        display: none !important;
    }
}
