@media (min-width: 510px) {
    #t18_969_98 {
        display: none !important;
    }
}

@media (max-width: 0px) {
    #t18_969_98 {
        display: none !important;
    }
}
@media (min-width: 760px) {
    #t18_969_97 {
        display: none !important;
    }
}

@media (max-width: 510px) {
    #t18_969_97 {
        display: none !important;
    }
}
@media (min-width: 1170px) {
    #t18_969_96 {
        display: none !important;
    }
}

@media (max-width: 760px) {
    #t18_969_96 {
        display: none !important;
    }
}
@media (min-width: 100000px) {
    #t18_969_95 {
        display: none !important;
    }
}

@media (max-width: 1170px) {
    #t18_969_95 {
        display: none !important;
    }
}
