@media (min-width: 510px) {
    #t18_1621_479 {
        display: none !important;
    }
}

@media (max-width: 0px) {
    #t18_1621_479 {
        display: none !important;
    }
}
@media (min-width: 760px) {
    #t18_1621_444 {
        display: none !important;
    }
}

@media (max-width: 510px) {
    #t18_1621_444 {
        display: none !important;
    }
}
@media (min-width: 1170px) {
    #t18_1621_443 {
        display: none !important;
    }
}

@media (max-width: 760px) {
    #t18_1621_443 {
        display: none !important;
    }
}
@media (min-width: 100000px) {
    #t18_1513_1560 {
        display: none !important;
    }
}

@media (max-width: 1170px) {
    #t18_1513_1560 {
        display: none !important;
    }
}
